name: 030-dotnet-workflow

on:
  push:
    branches: none # [ main ]
  pull_request:
    branches: none # [ main ]
    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-dotnet-app:

    runs-on: windows-latest
    
    defaults:
      run:
        working-directory: BankCalculator

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 5.0.x
  
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore

   
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.2
      with:
        # Artifact name
        name: artif
        # A file, directory or wildcard pattern that describes what to upload
        path: bin/Debug
 
    - name: Download a Build Artifact
      uses: actions/download-artifact@v2.1.1
      with:
        name: khb
        path: bin/Debug
